<div class="d-flex flex-column h-100 p-2 overflow-auto main-pages-height">
    <h4>Workspace</h4>
    <app-workspace-toolbar [creoConnected]="creoConnected()" (newFileClicked)="startNewFileCreation()"
        (openFileClicked)="openSelectedItems()" (deleteFileClicked)="deleteAndCloseSelectedModels()"
        (createItemNameClicked)="toggleNewItemNameComponentDisplay(true)">
    </app-workspace-toolbar>
    <div class="card d-flex flex-column flex-fill p-2 overflow-auto">
        <app-item-list [items]="workspaceItems()" [creoConnected]="creoConnected()" [allowItemReleases]="true"
            (selectedItemsChanged)="setSelectedItems($event)" (releaseItemClicked)="realeaseItem($event)" />
        @if (workspaceItems()?.length == 0 && !workspaceError()){
        <div class="d-flex h-100">
            <small class="text-black-50 mx-auto my-auto">Não há nenhum item na workspace</small>
        </div>
        }
        @else if (workspaceError()){
            <div class="d-flex h-100">
                <small class="text-danger mx-auto my-auto">Ocorreu um erro ao carregar os itens da workspace</small>
            </div>
        }
    </div>
</div>

<app-loading></app-loading>

@if(displayNewItemNameComponent()){
<app-new-item-name (createIemNameClicked)="creaNewItemName($event)"
    (cancelClicked)="cancelItemNameCreation()"></app-new-item-name>
}