<div class="card mb-2 mx-1">
    <div class="wokflow-step-descriptor d-flex align-items-center p-1"  [class.bg-success]="active()" (click)="toggleExpanded()">
        <div class="ms-1 me-2">
            <i class="fa-solid fa-angle-down fa-sm text-primary" [class.fa-rotate-270]="!expanded()"></i>
        </div>
        <div class="fw-bold text-primary">
            {{step().name}}
        </div>
    </div>
    @if(expanded()){
    <div class="d-flex flex-column mt-2 p-2" [class.disabled]="!enabled()">
        <form action="" [formGroup]="stepForm" (ngSubmit)="onFormSubmit()">
            @for(attribute of step().itemAttributes; track $index){
                <div class="mb-2">
                    <label class="form-label fs-6 mb-0" for=""><small>{{attribute.name}}</small></label>
                    @if (attribute.type == "typeSelect"){
                    <select class="form-select form-select-sm" formControlName ="{{attribute.name}}">
                        @for(option of step().itemAttributes[$index].options; track $index){
                        <option value="{{option.name}}">{{option.name}}</option>
                        }
                    </select>
                    }
                    @else if (attribute.type == "typeYesNo") {
                    <select class="form-select form-select-sm" formControlName ="{{attribute.name}}">
                        <option value="SIM">NAO</option>
                        <option value="SIM">SIM</option>
                    </select>
                    }
                    @else{
                    <input class="form-control form-control-sm" type="text" formControlName ="{{attribute.name}}">
                    }
        
                </div>
                }
                <div class="d-flex">
                    <button class="btn btn-success btn-sm text-black border-black mt-1 ms-auto">Finalizar Etapa</button>
                </div>
        </form>
    </div>

    }


</div>