@use '../../../../scss-variables.scss' as variables;

.nav-link:hover{
    cursor: pointer;
}

.nav-link-active{
    font-weight: bold;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
}