@use '../../../../scss-variables' as variables;

.item:hover{
    background-color: variables.$color-secondary;
    cursor: pointer;
}

.file-status-img{
    transform: scale(0.85);
}

.model-descriptor{
    margin-left: 4.6rem;
}

.item-selected{
    background-color: variables.$color-secondary;
}
