//Colors
$color-primary: rgb(80, 80, 80);
$color-primary-dark: darken($color: $color-primary, $amount: 5%);
$color-primary-light: lighten($color: $color-primary, $amount: 5%);

$color-secondary: rgb(240, 240, 240);
$color-secondary-light: lighten($color: $color-secondary, $amount: 5%);;

$color-success: rgb(146, 208, 80);

//Bootstrap
$spinner-animation-speed: 1s;
$spinner-border-width: .8em;
$primary: $color-primary;
$secondary: $color-secondary;
$success:  $color-success;






