/* You can add global styles to this file, and also import other style files */
@import 'scss-variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

// Classes
html{
    font-size: 90%;
}

.main-pages-height{
    max-height: calc(100vh - 3.5rem);
}

.bg-primary-dark {
    background-color: $color-primary-dark;
}

.bg-primary-light {
    background-color: $color-primary-light;
}

.bg-secondary-light {
    background-color: $color-secondary-light;
}

.text-primary-dark {
    color: $color-primary-dark;
}

// Bootstrap
.row,
[class^="col"] {
    margin: 0px !important;
    padding: 0px !important;
}

.dropdown-item {
    font-size: 0.85em;
}

.dropdown-item:hover {
    cursor: pointer;
}

.dropdown-menu {
    width: fit-content;
    min-width: fit-content;
}