<div class="d-flex shadow flex-column h-100 bg-primary text-secondary">
    <div class="p-1 d-flex flex-column flex-fill">
        <div class="list-group p-0">         
            <a class="list-group-item list-group-item-action px-2 py-1" routerLink="/workspace"
                [class.active]="activePage()=='workspace'" (click)="setActivePage('workspace')" title="Workspace">
                <i class="fa-solid fa-cubes"></i>
                @if(expanded()){<span class="ms-1">Workspace</span>}
            </a>
            <hr class="mx-2 my-0 p-0">
            <a class="list-group-item list-group-item-action px-2 py-1" routerLink="/library"
                [class.active]="activePage()=='library'" (click)="setActivePage('library')" title="Library">
                <i class="fa-solid fa-book"></i>
                @if(expanded()){<span class="ms-2">Library</span>}
            </a>
            <hr class="mx-2 my-0 p-0">
            <a class="list-group-item list-group-item-action px-2 py-1" routerLink="/pesquisa"
            [class.active]="activePage()=='pesquisa'" (click)="setActivePage('pesquisa')" title="pesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
            @if(expanded()){<span class="ms-2">Pesquisa</span>}
        </a>
        <hr class="mx-2 my-0 p-0">
            <a class="list-group-item list-group-item-action px-2 py-1" routerLink="/workflows"
                [class.active]="activePage()=='workflows'" (click)="setActivePage('workflows')" title="Workflows">
                <i class="fa-solid fa-diagram-project"></i>
                @if(expanded()){<span class="ms-1">Workflows</span>}
            </a>
        </div>
    </div>
    <div class="text-center bg-primary-dark border-top border-black" id="collapse-toggler" title="Expand/Collapse" (click)="toggleExpanded()">
        <!-- <i [class]= "expanded()? 'fa-solid fa-arrows-left-right-to-line' : 'fa-solid fa-arrows-left-right'" ></i> -->
        <i [class]= "expanded()? 'fa-solid fa-angle-left fa-sm' : 'fa-solid fa-angle-right fa-sm'" ></i>
    </div>
</div>