<div class="new-item-name">
   <div class="card shadow border border-primary p-2">
    <div class="text-center mb-2">
        <h4>Novo Código</h4>
    </div>
    <div class="mb-2">
        <label class="form-label mb-0" for="family-select">Escolha uma Famíia</label>
        <select class="form-select" name="" id="family-select" [(ngModel)]="selectedFamily">
            @for (family of families(); track $index){
                <option value={{family.name}}>{{family.name}} - {{family.description}}</option>
            }
        </select>
    </div>
    <div class="d-flex">
        <button class="btn btn-warning border-primary border-1 me-1 w-50" (click)="onCancelClicked()">Cancelar</button>
        <button class="btn btn-success border-primary border-1 ms-1 w-50" (click)="onCreateIemNameClicked()">Gerar Código</button>
    </div>
   </div>
</div>
