<div class="me-1">
    <i class="fa-solid fa-reply fa-rotate-180 text-primary"></i>
</div>
<div class="me-2">
    <img [src]="modelTypeImgPath()" alt="-">
</div>
<div [class.model-name]="creoConnected()" (click)="openModel()">
    {{model().name}}{{model().type}}
</div>
<span class="mx-2">|</span>
<button class="btn m-0 py-0 px-0" title="Fazer download do modelo" (click)="downLoadFile()">
    <i class="fa-solid fa-download text-success"></i>
</button>
<!-- <div class="d-flex ms-auto border-start border-2 px-1 last-modified">
    <span class="me-1">Modificado em:</span>
    <span>
        {{model().lastModifiedAt.toLocaleDateString()}} 
        {{model().lastModifiedAt.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" })}}
    </span>
</div> -->