@use '../../../../scss-variables.scss' as variables;

.workflow-descriptor:hover {
    cursor: pointer;
    background-color: variables.$color-secondary;
}

.btn-delete-workflow:hover {
    background-color: variables.$color-secondary-dark;
}